@import 'base/variables';



// Components
.twitter-share-button {
  color: white;
    background: #4267b2;
    padding: 2px;
    border-radius: 8%;
    margin: 5px;
    font-size: 13px;
  i {
    color:white;
    margin: 2px;
  }
}

.active {
  font-weight: bold;
}
#checkMark {
  background: none;
  border: none;
}
#addOptionContainer {
  display: flex;

}
nav .brand-logo {
  position: relative;
  margin: 0 10px;
}
.main {
  padding: 20px;
}
.fa-bolt {
  color:yellow;
}
.fa-globe {
  color: lightgreen;
}
.fa-twitter {
  color: lightblue;
}
.fa-bar-chart , .fa-trash-o {
  margin: 0 5px;
  cursor: pointer;
}
.card .card-image .card-title {
  position:relative;
  color:black;
}
.introContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;

  img {
    max-width: 75px;
    max-height: 75px;
  }
}
.subTitle {
  @extend .introContainer;
  height:auto;
  flex-direction: column;
}
.box {
  margin: 1rem 0;
}

.btn-box {
  display: flex !important;
}
.controlChart {
  display: flex ;
  justify-content: center ;
  #myChart{
    max-width: 600px;
    max-height: 600px;
  }
}
.btn {
  margin: 5px !important;
}
.childrenContainer {
  max-width: 100%;
}

#side-bar {

  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: -100%;

  transition: all 0.6s ease;
  margin-top: -57px;
  background: #009688;
  z-index: 10;
  box-shadow:0 0 2px 2px rgba(0,0,0,0.5);
  .slide {
    left: 0;
  }
  li {
    background: #009688;
    border-top: 1px solid lightgrey;
    line-height: 2px;
    padding: 20px;
    a {
      color: white;
    }
  }
  ul {

    display: flex;
    flex-direction: column;
  }
}
@media (max-width:485px) {
  h1{
    font-size: 3.2rem;
  }
  html {
    font-size: 12px;
  }
  .introContainer {
    h1{
      font-size: 3.2rem;
    }
    img {
      max-width: 50px;
      max-height: 50px;
    }
  }
  .box {
    margin: 1rem 0;
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0px rgba(0,0,0,0.5);
  }


}

.logoImg {
  max-width: 50px;
  max-height: 50px;
}

.barsContainer {
  display: flex !important;

  position: absolute;
  top:10px;
  right: 10px;
}
#logoutModal {
  position: fixed;
  left:0;
  right: 0;
  text-align: center;
  background: white;
  margin: 150px auto;
  width: 300px;
  height: 100px;
  z-index: 2;
  box-shadow: 0 1px 3px 0px rgba(0,0,0,0.5);
  button {
    margin: 0 5px;
  }
}
.option-btn {
  margin:5px;
}
.dialogue {
position: fixed;
width: 210px;
background: rgba(0,0,0,0.8);
padding: 1px;
text-align: center;
color: white;
border-radius: 4%;
left: 0;
right: 0;
margin: 3px auto;
z-index: 2;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.collection {
  height: 80vh;
  box-shadow: 0 2px 1px 0px rgba(0,0,0,0.5);
  overflow-y: auto;
}
.options {
  padding: 10px;
}
.filter  {
  cursor: pointer;

}
.selected {
  font-weight: bold;
  user-select: none;
}

.poll-btns {
  display: flex;
  justify-content: center;
  .poll-btn {
    width: 120px;
    flex-grow: 1;
    margin: 0 20px;
  }
}
